mixin icon(id)
  svg.icon
    use(xlink:href="../images/open-iconic.svg##{id}")

doctype
html
  head
    title #{title} - My Site
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel="stylesheet", href="/stylesheets/jquery.mCustomScrollbar.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper.container-fluid
      .row
        block content
        nav
          .left
            #logo.navitems Anmol Modur
            ul
              li.navitems 
                a(href="cabout") About
              li.navitems
                a(href="portfolio") Portfolio
              li.navitems
                a(href="gallery") Gallery
              li.navitems
                a(href="contact") Contact
          .right 
            +icon("chevron-right")
            p MENU
            +icon("chevron-right")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")
    script(src="../js/jquery.mCustomScrollbar.concat.min.js")
    script(type="text/javascript", src="../js/skrollr.js")
    //- script(type="text/javascript", src="config.js")
    block js
    script(type="text/javascript", src="../js/script.js")