@font-face
    font-family Gotham
    font-weight normal
    font-style normal
    src url(../fonts/Gotham-Book.otf)

@font-face
    font-family Gotham
    font-weight 200
    font-style normal
    src url(../fonts/Gotham-Light.otf)

@font-face
    font-family Gotham
    font-weight lighter
    font-style normal
    src url(../fonts/Gotham-Thin.otf)

@font-face
    font-family Gotham
    font-weight bold
    font-style normal
    src url(../fonts/Gotham-Bold.otf)

@font-face
    font-family Gotham
    font-weight bolder
    font-style normal
    src url(../fonts/Gotham-Black.otf)